<h1 *ngIf="title">{{title}}</h1>
<div *ngIf="quiz" class="quiz-and-jump">
  <div class="main">
    <div class="quiz-view">
      <h3 *ngIf="displayLevel" class="level">{{quiz.roundLevels[quiz.currentLevel].name}}</h3>
      <h4 *ngIf="displayTarget" class="target">Target: {{quiz.roundLevels[quiz.currentLevel].questionThresholdPerSixtySeconds}}</h4>
      <div class="controls">
        <button (click)="start()" id="start" mat-button>{{buttonText}}</button>
      </div>
      <div class="round-view" *ngIf="quiz.currentRound">
        <div class="time-remaining">{{quiz.currentTime}}</div>
        <div class="correct-answers">Correct: {{quiz.currentRound.getNumberOfCorrectAnswers()}}</div>
        <div class="question-view" *ngIf="quiz.currentRound.getCurrentQuestion()">
          <p class="op-message gcf-message" *ngIf="isGcfQuestion()">
            Find the Greatest<br>Common Factor
          </p>
          <p class="op-message lcm-message" *ngIf="isLcmQuestion()">
            Find the Least<br>Common Multiple
          </p>
          <p *ngIf="isExpQuestion()">
            <span class="operand1">{{quiz.currentRound.getCurrentQuestion().operand1.value}}</span>
            <sup class="operand2 exponent">{{quiz.currentRound.getCurrentQuestion().operand2.value}}</sup>
          </p>
          <table *ngIf="!isExpQuestion()">
            <tr>
              <td><span class="operand1">{{quiz.currentRound.getCurrentQuestion().operand1.value}}</span></td>
              <td><span class="operator">{{quiz.currentRound.getCurrentQuestion().operator.display}}</span></td>
              <td><span class="operand2">{{quiz.currentRound.getCurrentQuestion().operand2.value}}</span></td>
            </tr>
          </table>
          <input (disabled)="answerDisabled"
          (keyup.enter)="onEnter()"
          autofocus
          #answerInp
          [formControl]="answer"
          pattern="[0-9\-]*"
          autocomplete="off"
          type="text" name="answer" id="answer" />
          <span class="skips-message">Skips left: {{quiz.currentRound.skipsRemaining}}</span>
          <button id="skip" (click)="onSkip()" [disabled]="skipsDisabled">Skip</button>
        </div>
        <div *ngIf="answer.errors?.pattern" class="answer-error mat-error">Answer must be a number.</div>
      </div>
      <div class="messages">{{quiz.messages}}</div>
    </div>
  </div>
</div>
