<div class="quiz-view">
  <div class="controls">
    <button (click)="start()" id="start" mat-button>{{buttonText}}</button>
  </div>
  <div class="round-view" *ngIf="round">
    <div class="time-remaining">{{timeLeft}}</div>
    <div class="questions-answered">Questions: {{round.getNumberOfQuestionsAnswered()}}</div>
    <div class="correct-answers">Correct: {{round.getNumberOfCorrectAnswers()}}</div>
    <div class="question-view" *ngIf="round.getCurrentQuestion()">
      <table>
        <tr>
          <td><span>{{round.getCurrentQuestion().operand1.numerator.value}}</span></td>
          <td rowspan="2"><span>{{round.getCurrentQuestion().operator.display}}</span></td>
          <td><span>{{round.getCurrentQuestion().operand2.numerator.value}}</span></td>
          <td rowspan="2"><span>=</span></td>
          <td><input (disabled)="answerDisabled"
            (keyup.enter)="onEnter()"
            autofocus
            [formControl]="answerNum"
            pattern="[0-9\-\.]*"
            type="text" name="answer-num" id="answer-num" /></td>
        </tr>
        <tr>
          <td><span>{{round.getCurrentQuestion().operand1.denominator.value}}</span></td>
          <td><span>{{round.getCurrentQuestion().operand2.denominator.value}}</span></td>
          <td><input (disabled)="answerDisabled"
            (keyup.enter)="onEnter()"
            autofocus
            [formControl]="answerDen"
            pattern="[0-9\-\.]*"
            type="text" name="answer-den" id="answer-den" /></td>
        </tr>
      </table>
    </div>
    <div *ngIf="answerNum.errors?.pattern||answerDen.errors?.pattern" class="mat-error">Answer must be a number.</div>
  </div>
  <div class="messages">{{messages}}</div>
</div>
