@import '../../variables.scss';

.cards {
  width: 100%;
  display: grid;

  .card-container {
    padding: 1em;
  }
}

mat-card {
  text-align: center;
  background: $smokier-white;
  font-size: 1.3em;

  &:hover {
    cursor: pointer;
    background: $artichoke;
    color: $white-smoke;
  }
}

@media screen and (min-device-width: 768px) {
  .cards {
    grid-template-columns: 50% 50%;
  }
}
