<h1 *ngIf="title">{{title}}</h1>
<div class="quiz-and-jump">
  <div class="main">
    <div class="quiz-view">
      <h3 class="level">Level: {{quiz.roundLevels[quiz.currentLevel].name}}</h3>
      <h4 class="target">Target: {{quiz.roundLevels[quiz.currentLevel].questionThresholdPerSixtySeconds}}</h4>
      <div class="controls">
        <button (click)="start()" id="start" mat-button>{{buttonText}}</button>
      </div>
      <div class="round-view" *ngIf="quiz.currentRound">
        <div class="time-remaining">{{quiz.currentTime}}</div>
        <div class="correct-answers">Correct: {{quiz.currentRound.getNumberOfCorrectAnswers()}}</div>
        <div class="question-view" *ngIf="quiz.currentRound.getCurrentQuestion()">
          <table>
            <tr>
              <td class="fraction-num"><span class="operand1-numerator">{{quiz.currentRound.getCurrentQuestion().operand1.numerator.value}}</span></td>
              <td rowspan="2"><span class="operator">{{quiz.currentRound.getCurrentQuestion().operator.display}}</span></td>
              <td class="fraction-num"><span class="operand2-numerator">{{quiz.currentRound.getCurrentQuestion().operand2.numerator.value}}</span></td>
            </tr>
            <tr>
              <td><span class="operand1-denominator">{{quiz.currentRound.getCurrentQuestion().operand1.denominator.value}}</span></td>
              <td><span class="operand2-denominator">{{quiz.currentRound.getCurrentQuestion().operand2.denominator.value}}</span></td>
            </tr>
            <tr>
              <td class="fraction-num" colspan="3"><input (disabled)="answerDisabled"
                (keyup.enter)="onEnter()"
                autofocus
                #numeratorInput
                [formControl]="answerNum"
                pattern="[0-9\-]*"
                autocomplete="off"
                type="text" name="answer-num" id="answer-num" /></td>
            </tr>
            <tr>
              <td colspan="3"><input (disabled)="answerDisabled"
                (keyup.enter)="onEnter()"
                [formControl]="answerDen"
                pattern="[0-9\-]*"
                autocomplete="off"
                type="text" name="answer-den" id="answer-den" /></td>
            </tr>
          </table>
          <button id="skip" (click)="onSkip()">Skip</button>
        </div>
        <div *ngIf="answerNum.errors?.pattern||answerDen.errors?.pattern" class="answer-error mat-error">Answer must be a number.</div>
      </div>
      <div class="messages">{{quiz.messages}}</div>
    </div>
  </div>
</div>
