<div class="quiz-view">
  <div class="question-view" *ngIf="round.getCurrentQuestion()">
    <table>
      <tr>
        <td></td>
        <td><span>{{round.getCurrentQuestion().operand1.display}}</span></td>
      </tr>
      <tr>
        <td><span>{{round.getCurrentQuestion().operator.display}}</span></td>
        <td><span>{{round.getCurrentQuestion().operand2.display}}</span></td>
      </tr>
    </table>
    <input (disabled)="answerDisabled"
        (keyup.enter)="onEnter()"
        [(ngModel)]="answer"
        #answerInput="ngModel"
        pattern="[0-9\./]*"
        type="text" name="answer" id="answer" />
    <div *ngIf="answerInput.errors?.pattern">Answer must be a valid number.</div>
  </div>
  <button (click)="start()" id="start">{{buttonText}}</button>
  <div class="time-remaining">{{timeLeft}}</div>
  <div class="questions-seen">Questions: {{questionsSeen}}</div>
  <div class="correct-answers">Correct: {{correctAnswers}}</div>
  <div class="messages">{{messages}}</div>
</div>
