<header class="mat-elevation-z8">
    <h1>{{title}}</h1>
  <nav>
    <ul>
      <li>Basics</li>
      <li>Fractions</li>
    </ul>
  </nav>
</header>
<div class="content">
  <aside>
    <nav>
        <ul>
          <li (click)="linkClick('Addition')">Addition</li>
          <li (click)="linkClick('Subtraction')">Subtraction</li>
          <li (click)="linkClick('Multiplication')">Multiplication</li>
          <li (click)="linkClick('Division')">Division</li>
        </ul>
      </nav>
  </aside>
  <main>
    <ng-template appQuiz></ng-template>
  </main>
</div>
