<header class="mat-elevation-z8">
  <div class="header-content-container header-left">
    <div class="brand" routerLink="/">{{title}}</div>
    <nav>
      <ul>
        <li routerLink="/fundamentals" id="basics-nav">Fundamentals</li>
        <li routerLink="/fractions" id="fractions-nav">Fractions</li>
        <li routerLink="/baseline" id="baseline-nav">Baseline Test</li>
      </ul>
    </nav>
  </div>
  <div class="header-content-container header-right">
    <app-auth></app-auth>
  </div>
</header>
<div class="main-content">
  <router-outlet></router-outlet>
</div>

