@import "../variables.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  background: $silver-chalice;
  width: 100%;
  padding: 0em 1em;
  padding-top: 1em;

  .header-content-container {
    display: flex;
  }

  .header-left {
    .brand {
      cursor: pointer;
      font-size: 1.5em;
      margin-top: 0.5em;
      padding: 0;
    }

    nav ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 1em;
        cursor: pointer;
        font-size: 1.2em;
        border-bottom: 2px solid $silver-chalice;

        &:hover {
          border-bottom: 2px solid $artichoke;
        }
      }
    }
  }

  .header-right {
    padding-right: 3em;

    app-auth {
      margin: 1em 1em;
    }
  }

}

.main-content {
  margin: 0 auto;
  margin-top: $content-margin-top;
  width: 80%;
}
