<h2>Name: {{(user | async)?.name}}</h2>
<table class="stats-table">
  <thead>
    <tr>
      <th>Level Name</th>
      <th>Time</th>
      <th>Target</th>
      <th>Correct</th>
      <th>Incorrect</th>
      <th>Skipped</th>
      <th>Full Report</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userStat of (userStats | async) | reverse">
      <td>{{userStat.roundName}}</td>
      <td>{{userStat.roundStart | date:'short' }} - {{userStat.roundEnd | date:'shortTime' }}</td>
      <td>{{userStat.target}}</td>
      <td>{{userStat.calculateCorrects()}}</td>
      <td>{{userStat.calculateIncorrects()}}</td>
      <td>{{userStat.calculateSkips()}}</td>
      <td>
        <div *ngIf="!showFullReport[userStat.roundStart]"
          (click)="showFullReport[userStat.roundStart]=true;"
          class="report-click">Show full report</div>
        <div *ngIf="showFullReport[userStat.roundStart]"
          (click)="showFullReport[userStat.roundStart]=false"
          class="report-click">Hide full report</div>
        <div *ngIf="showFullReport[userStat.roundStart]" class="questions-table-container">
          <table class="questions-table">
            <thead>
              <tr>
                <th>Success</th>
                <th>Operator</th>
                <th>Operands</th>
                <th>Incorrects</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let question of userStat.questions">
                <td>{{displaySuccess(question.success)}}</td>
                <td>{{displayOperator(question.operatorIndex)}}</td>
                <td>{{question.operands}}</td>
                <td>{{question.incorrects}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
