<h2>Name: {{user.name}}</h2>
<table class="stats-table">
  <thead>
    <tr>
      <th>Level Name</th>
      <th>Time</th>
      <th>Target</th>
      <th>Correct</th>
      <th>Incorrects</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userStat of userStats | async">
      <td>{{userStat.name}}</td>
      <td>{{userStat.startDate | date:'short' }} - {{userStat.endDate | date:'shortTime' }}</td>
      <td>{{userStat.target}}</td>
      <td>{{userStat.correct}}</td>
      <td>
        <p *ngIf="!userStat.incorrects" class="none-incorrect">None Incorrect</p>
        <div *ngIf="userStat.incorrects" class="incorrects-table-container">
          <table class="incorrects-table">
            <thead>
              <tr>
                <th>Op1</th>
                <th>Op2</th>
                <th>Guess</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let incorrect of userStat.incorrects">
                <!-- 2 is Basic without guess, 3 is Basic with guess, 4 is Fraction without guess,
                  5 is Simplify Fraction (last number is just an indicator for that and it's value doesn't matter),
                  6 is Fraction with guess -->
                <td *ngIf="incorrect.length == 2 || incorrect.length == 3 || incorrect.length == 5">{{incorrect[0]}}</td>
                <td *ngIf="incorrect.length == 2 || incorrect.length == 3 || incorrect.length == 5">{{incorrect[1]}}</td>
                <td *ngIf="incorrect.length == 2">Unknown</td>
                <td *ngIf="incorrect.length == 3">{{incorrect[2]}}</td>
                <td *ngIf="incorrect.length == 5">{{incorrect[2]}}/{{incorrect[3]}}</td>
                <td *ngIf="incorrect.length == 4 || incorrect.length == 6">{{incorrect[0]}}/{{incorrect[1]}}</td>
                <td *ngIf="incorrect.length == 4 || incorrect.length == 6">{{incorrect[2]}}/{{incorrect[3]}}</td>
                <td *ngIf="incorrect.length == 4">Unknown</td>
                <td *ngIf="incorrect.length == 6">{{incorrect[4]}}/{{incorrect[5]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
