@import '../../../../variables.scss';

.stats-table {
  width: 100%;
  background: $smokier-white;
  margin-bottom: 3em;
  text-align: center;

  & > thead > tr {
    background: $smokier-white;

    &:hover {
      background: $smokier-white;
    }
  }

  & > tbody > tr {
    &:hover {
      background: $gray;
    }

    &:nth-child(2n+1) {
      background: $white-smoke;

      &:hover {
        background: $gray;
      }
    }
  }

  & > tbody > td {
    width: 13%;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .incorrects-table-container {
    max-height: 100px;
    overflow: auto;
  }

  .incorrects-table {
    width: 100%;
    background: $smokier-white;

    & > tbody > tr:nth-child(2n+1) {
      background: $white-smoke;
    }
  }
}
